.profilePic
  width: 135px
  height: 135px
  border-radius: 50%
  border: 4px solid $remyellow
  margin-left: 69px
.userName
  font-weight: 400
  font-family: georgia,arial
  color: $rempink
  font-size: 25px
  margin-top: 20px
.side
  display: flex

.sideSection
  @extend %side_properties
  .events
    margin: 0 auto 15px auto
    display: flex
    img
      margin: auto 25px auto 20px
    h4
      margin-right: 15px
      font-weight: 400
      font-size: 17px
      font-family: georgia, arial
      text-align: left
  .birthday
    h4
      color: $rempink
  .anniversary
    h4
      color: $remyellow
  .other
    h4
      color: $remnavy

.rightSection
  
