.main-nav
  a.active
    @include remBox($white,$shadow,400)
    color: $rempink

.events
  width: 249px
  height: auto  
  @include remBox($white,$shadow,400)

.calendar

  @include remBox($white,$shadow,400)

.calHeader
  width: 230px
  height: 60px
  @include remBox($white,$shadow,400)
